body{
    background-color:#155263 ;
}
h1, header{
    text-align: center;
    color: azure;
}
/* header{
    text-align: center;
} */
.user-input{
    width: 200px;
}

.container{
    max-width: 400px;
    box-align: center;
    align-items: center;
    margin: 5rem auto;
}


.list-entry{
    background: #ff6f3c;
    margin: 5px;
    padding: 20px 1px;
}

.list-items{
    background-color: #ff9a3c;
    margin: 5px;
    padding: 20px auto;
    border: 1px;
    border-color: #155263;
    justify-content: space-between;
}

.item{
    border: #155263;
    padding: 5px ;
}


.delete{
    border-style: none;
    background-color: #ff9a3c;
    float: right;
    padding-right: 25px;
    cursor: pointer;
}

